<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora Cientifica por Joel Parra</ion-title>
    <ion-title>El usuario es "admin" y la contraseña es "12345"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input [(ngModel)]="user" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password" placeholder=""></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="login()">
    Ingresar
  </ion-button>

  <ion-text color="danger" *ngIf="Mensaje">
    <p class="ion-padding-top">{{ Mensaje }}</p>
  </ion-text>
</ion-content>
